#map-area {
    height: 700px;
    width: 1000px;
    border: 1px solid black;
}

#chart-area {
    height: 500px;
    width: 800px;
    border: 1px solid black;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 180px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    min-width: 120px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

/* === leaflet overrides === */
.leaflet-container {
    background: transparent;
}